/* This selector is used to prevent ui-dark/light.css from overwriting changes to .win-surface. */
.expenses .grouplist .win-horizontal.win-viewport .win-surface {
    margin-left: 120px;
    margin-bottom: 20px;
}

.expenses h1.titlearea 
{
	-ms-grid-column: 2;
}

.expenses .grouplist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .expenses .grouplist .win-groupheader {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto 1fr;
        display: -ms-grid;
        height: 100%;
        margin-left: 0px;
        margin-right: 70px;
        padding: 0;
        width: 480px;
    }

        .expenses .grouplist .win-groupheader .group-subtitle {
            -ms-grid-row: 1;
            margin: 0;
            margin-bottom: 11px;
            max-height: 48pt;
            overflow: hidden;
            padding-bottom: 4px;
        }

        .expenses .grouplist .win-groupheader .group-image {
            -ms-grid-row: 2;
            background-color: rgba(147, 149, 152, 1);
            height: 238px;
            margin: 0;
            margin-bottom: 20px;
            width: 480px;
        }

        .expenses .grouplist .win-groupheader .group-description {
            -ms-grid-row: 3;
            margin-bottom: 55px;
            overflow: hidden;
        }

    .expenses .grouplist .win-item {
        -ms-grid-columns: 1fr 110px;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 110px;
        width: 472px;
    }

        .expenses .grouplist .win-item .item-image {
            -ms-grid-column: 2;
            margin-left: 10px;
            max-width:  100px;
            max-height:  100px;
        }

        .expenses .grouplist .win-item .item-info {
            -ms-grid-column: 1;
            margin-left: 10px;
        }

            .expenses .grouplist .win-item .item-info .item-title {
                margin-top: 4px;
                max-height: 20px;
                overflow: hidden;
            }

            .expenses .grouplist .win-item .item-info .item-subtitle {
                opacity: 0.6;
            }

            .expenses .grouplist .win-item .item-info .item-description {
                max-height: 60px;
                overflow: hidden;
            }
            .expenses .grouplist .win-item .item-info .item-amount {
                position: absolute; 
                right: 108px; 
                bottom: 8px;
                font-size: 36px;
            }            

    .expenses .grouplist .win-horizontal.win-viewport .win-container {
        margin-bottom: 26px;
        margin-right: 60px;
    }

        .expenses .grouplist .win-horizontal.win-viewport .win-container:hover {
            outline: rgba(255, 255, 255, 0.3) solid 10px;
        }

@media screen and (-ms-view-state: snapped) {

    .expenses .grouplist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
    }

    .expenses .grouplist .win-groupheader {
        visibility: hidden;
    }

    .expenses .grouplist .win-vertical.win-viewport .win-container {
        margin: 10px 28px 10px 20px;
    }

        .expenses .grouplist .win-vertical.win-viewport .win-container:hover {
            outline: rgba(255, 255, 255, 0.3) solid 10px;
        }

    .expenses .grouplist .win-item {
        height: 60px;
        width: 272px;
    }

    .expenses .grouplist .win-item {
        -ms-grid-columns: 60px 1fr;
    }

        .expenses .grouplist .win-item .item-info .item-title {
            max-height: 30pt;
        }

        .expenses .grouplist .win-item .item-info .item-description {
            visibility: hidden;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .expenses .grouplist .win-horizontal.win-viewport .win-surface {
        margin-left: 100px;
    }
}

section[role=main] .content {
    -ms-grid-columns: 120px 500px 24px 1fr 50px;
	-ms-grid-rows: 1fr;
    display: -ms-grid;
    margin-top: 24px;
}

    section[role=main] .content, section[role=main] .content .left, section[role=main] .content .right {
        width: 100%;
        height: 100%;
    }

        section[role=main] .content .left {
            -ms-grid-column: 2;
        }

            section[role=main] .content .left .chart {
                margin-bottom: 10px;
            }

                section[role=main] .content .left .chart h2 {
                    font-weight: bold;
                    margin-bottom: 6px;
                }

                section[role=main] .content .left .chart .region {
                    background: white;
                    width: 500px;
                    height: 250px;
                }

        section[role=main] .content .right {
            -ms-grid-column: 4;
        }

            section[role=main] .content .right .win-listview {
                height: 100%;
            }

        #addTransaction {
            float: right;
        }
